.button {
  background-color: #e60b54;
  border-radius: 5;
  outline: 0;
  border: 0;
  padding: 1.5rem;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(255, 0, 55);
}
