.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.feedback__container {
  background: linear-gradient(
    90deg,
    rgba(19, 91, 131, 1) 6%,
    rgba(42, 1, 70, 0.8496440812653187) 55%
  );
  width: 40rem;
  height: 54rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.feedback__heading {
  font-size: 2.8rem;
  color: white;
  font-weight: bold;
  margin-bottom: 4rem;
  text-align: center;
}

.form-group {
  margin-bottom: 0.5rem;
  padding: 1.5rem;
}
.form-control {
  outline: 0;
  border: 0;
  background-color: transparent;
  color: white;
  border-bottom: 3px solid grey;
  width: 100%;
  padding-bottom: 0.6rem;
}
::placeholder {
  color: rgb(218, 207, 207);
  opacity: 1; /* Firefox */
}
